{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="container">

    <br><h2 class= "mb-5"> New product </h2>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}" class="btn btn-primary btn-block mt-3" style=" width: 150px;" > Back to List </a>

</div>
{% endblock %}
