{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
<div class="container">

    <br><h2> New product </h2><br><br>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_product_index') }}" class="btn btn-light mt-3" style=" width: 150px;" > Back to List </a>

</div>
{% endblock %}
