body {
    background-color: white;
}

    .login-form {
        width: 400px;
    }

    .btn-block {
        width: 100%;
        border-radius: 10px;
        background-color: #1E2832;
        border: none;
    }

    .btn-block:hover{
        background-color: #FF6F61;
    }

    .security-form {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        margin-top: 80px;
        gap: 60px;
    }

    .logo img {
        width: 215px;
    }

    .form-control {
        margin-bottom: 12px; 
    }
    
    .terms {
        margin-bottom: 20px;
    }
